<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Brad Big Company</title>
	</head>

	<body>
	<!-- 畫面維護 -->
		<div>
		<h1 style="background-color: blue;">Brad Big Company</h1>
		<br>
		<form action="Brad17">
			<!-- 切換過來view2時，他的value="%s"的%s是view2維持在view2版 -->
			<input type="hidden" name="view" value="%s" />
			<input name="x" value="%s">
			+
			<input name="y" value="%s">
			<input type="submit" value="=">
			<span>%s</span>
		</form>
		</div>
		Copyright Brad
	</body>
</html>